// Grid System

h1, h2, h3, h4, h5, h6, p, button, .em-textbox, .em-textarea, .em-checkbox
  margin: 0

.em-row, .em-row-reverse
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  margin: auto
  max-width: 750px
  > *
    margin: 15px

.em-row-align-items-center
  align-items: center

.em-row-reverse
  justify-content: flex-end

.em-col-auto
  flex: auto
.em-col-1
  width: (100/12)%
.em-col-2
  width: (200/12)%
.em-col-3
  width: (300/12)%
.em-col-4
  width: (400/12)%
.em-col-5
  width: (500/12)%
.em-col-6
  width: (600/12)%
.em-col-7
  width: (700/12)%
.em-col-8
  width: (800/12)%
.em-col-9
  width: (900/12)%
.em-col-10
  width: (1000/12)%
.em-col-11
  width: (1100/12)%
.em-col-12
  width: (1200/12)%

// TODO: Classes for responsive design.
// @media (min-width: 576px)
// @media (min-width: 768px)
// @media (min-width: 992px)
// @media (min-width: 1200px)
