.theme-container.full-page {
  height: 100vh;
}

.theme-container.full-page .page, .theme-container.full-page .theme-default-content {
    width: 100%;
    height: 100%;
    padding: 0;
    max-width: unset;
}