img {
    border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body {
    font-family: Poppins !important;
}

a.header-anchor {
    margin-left: -1.10em !important;
}

// marginer(4, 64, 4)
//   .mt-{min}
//     margin-top (min px)
//   .mb-{min}
//     margin-bottom (min px)
//   .ml-{min}
//     margin-left (min px)
//   .mr-{min}
//     margin-right (min px)
//   if min < max
//     marginer(min + step, max, step)

// paddinger(4, 64, 4)
//   .pt-{min}
//     padding-top (min px)
//   .pb-{min}
//     padding-bottom (min px)
//   .pl-{min}
//     padding-left (min px)
//   .pr-{min}
//     padding-right (min px)
//   if min < max
//     paddinger(min + step, max, step)
//     paddinger(min + step, max, step)

// // marginer(4, 64, 4)
// // paddinger(4, 64, 4)